<div class="row">
  <aside class="col-sm-4">
    <%= render "card" %>
    <%= render "relationships/follow_button", user: @user %>
  </aside>
  <div class="col-sm-8">
    <%= render "navtabs" %>
    <%= render "users", users: @followers %>
  </div>
</div>